<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shorten url</title>
</head>
<body>
    <form method="post" action="http://localhost:5000/api/shorten">
        <label>paste URL</label>
        <input type="text" required class="link" name="link">
        <button>Submit</button>
    </form>
</body>
</html>