<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tinyUrl</title>
    <link rel="stylesheet" href="./styles/home-page.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <form class="form">
        <div class="input-box">
<input type="text" id="input-field" class="input">
<small id="error-mssg" class="hidden error"></small>
        </div>

<button id="sub-btn" class="sub-btn">Shorten</button>
    </form>
</body>
<script src="./js/home-page.js"></script>
</html>