<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" >
    <title>shortify url</title>
</head>
<body>
    <form method="post" action="http://localhost:5000/api/shorten">
        <label>paste URL</label>
        <input type="text" required class="link" name="link">
        <button>Submit</button>
        <% if (data){ %>
            <a href=<%= data.url %> target=_blank><%= data.url %></a>
        <% } else { %>
            <h1>Data is not defined</h1>
        <% } %>
    </form>
</body>
</html>