<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url</title>
</head>
<body>
    <% if (data){ %>
        <a href=<%= data.url %> target=_blank><%= data.url %></a>
    <% } else { %>
        <h1>Data is not defined</h1>
    <% } %>
</body>
</html>

</html>
