.hidden{
    display:none
}
.error{
    color:red
}

body{
    /* background-image: url("../images/bg.avif"); */
    display:flex;
flex-direction: column;
align-items: center;
}
.heading{
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lime;
}
.input{
    width:400px;
    height:2em;
    padding:0.5em;
    border:none;
    outline:none;
    border-radius: 20px;
    border:0.5px solid grey;
}
.field-error{
    border:1px solid red;
}
.sub-btn{
    border:none;
    height:2em;
    background-color: lime;
    border-radius: 20px;
    width:10em;
}
.form{
    /* background-color: red; */
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:0.5em;
}
.sub-btn:hover{
    transform:scale(1.05);
    cursor: pointer;
}
.input-box{
    display:flex;
    flex-direction: column;
    gap:0.5em;
}
.input-box small{
    font-size: 1.2em;
    text-transform: capitalize;
}